<h1>Users' Suggested Activities</h1>


<table>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Activity
        </th>

        <th>
          Username 
        </th>

      </tr>

<% @list_of_plans.each do |a_plan| %>

        <td>
          <%= a_plan.activity %>
        </td>


        <td>
         <%= a_plan.username %>
        </td>
      </tr>
      <% end %>
</table>
