<h1>List of all users</h1>


<table>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Username
        </th>

        <th>
          User's Plans
        </th>
      </tr>

<% @list_of_plans.each do |a_plan| %>

        <td>
          <%= a_plan.user_id %>
        </td>

        <td>
          <%= a_plan.username %>
        </td>


        <td>
          <a href="/users/<%= a_plan.username %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
</table>
